.firstBox{

    height: 500px;
    width: 100%;

    background: -webkit-linear-gradient(to bottom right, rgb(0, 0, 0), rgb(115, 115, 115));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(115, 115, 115));

    position: relative;
    text-align: center;
    color: white;
}

.title{

    font-size:60px;
    position: fixed;
    justify-content: left;
    top: 20%;
    left: 5%;
    color: white;
}