.portfolioBorder{
    width: 97%;
    margin: 1%;
    border-radius: 10px;
    border: solid 5px rgb(0, 0, 0);
    height: 700px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.overallComponent{

    width: 41%;
}

img{
    align-items: center;
    justify-content: center;
}