.containerProfile{

    width: 30%;
    background-color: rgb(255, 255, 255);
}

.profileBox{

    margin: 10px;
    background-color: rgb(212, 212, 212);
    border-radius: 10px;
    height: 400px;
    padding: 10px;
    box-shadow: rgb(183, 183, 183) 1px 1px 1px 1px;
}

.nameUser{

    text-align: center;
    font-size: 175%;
}