.containerProfile{

    width: 25%;
    background-color: rgb(255, 255, 255);
}

.profileBox{

    margin: 10px;
    background-color: rgb(212, 212, 212);
    border-radius: 10px;
    height: 400px;
    padding: 10px;
    box-shadow: rgb(183, 183, 183) 1px 1px 1px 1px;
}

.nameUser{

    text-align: center;
    font-size: 175%;
    padding: 5px;
    padding-top: 15px;
}

.pictureUser{

    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
}

.userAvatar{

    background-color: rgb(145, 145, 145);
    border-radius: 10px;
    height: 200px;
    width: 200px;
}